site_name: Kirk Volin Individual Report
site_url: https://kirkvolin.github.io/
repo_url: https://github.com/kirkvolin/kirkvolin.github.io
edit_uri: https://github.com/kirkvolin/kirkvolin.github.io/blob/main/docs/index.md

nav:
  - Home: index.md
  - Block Diagram: Block_Diagram.md
  - Component Selection: Component_Selection.md
  - Schematic Design: Schematic_Design.md
  - External Links:
      - "Team Website": https://github.com/kirkvolin/kirkvolin.github.io
theme:
  name: material
  custom_dir: custom_theme/
  palette:
    primary: black
    accent: gold
  font:
    text: Roboto
  logo: static/logo.svg
  favicon: static/logo.png

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.follow    
    - navigation.top
    - navigation.path
    - navigation.indexes
    - navigation.prune
    - content.action.edit
    - navigation.footer
    - External Link: 
        - "Team Website": https://asu-egr314-2025-s-310.github.io/

#    - navigation.sections
#    - navigation.expand
#    - navigation.instant # doesn't work that well

markdown_extensions:
  - attr_list #add attributes using curly brackets to images, see https://squidfunk.github.io/mkdocs-material/reference/images/
  - md_in_html # see https://squidfunk.github.io/mkdocs-material/reference/images/
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tilde: {}
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

draft_docs: |
  **/*_unpublished.md
  **/*_draft.md
  **/*_draft**
  
plugins:
  - search
  - glightbox # allow resize images, see https://squidfunk.github.io/mkdocs-material/reference/images/

extra_css:
  - stylesheets/extra.css  

extra_javascript:
 - javascripts/mathjax.js
 - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    
not_in_nav: |
  static
  
copyright: "Copyright &copy; 2024 team-name-here"

extra:
  generator: false
  social:
    - icon: fontawesome/regular/file-code
      link: /2023_fall
      name: 2023 Site    
